<?xml version="1.0" encoding="UTF-8" ?>
<main>
<t reg="(привет|салют|здорова)">
   <reply>Привет</reply>
   <reply>Хай хай</reply>
   <reply>qq</reply>
   <reply>Здорова чел!</reply>
</t>


<t reg="(как дела|как ты|че ты)">
   <reply>Норм</reply>
   <reply>Сам?</reply>
   <reply>ага</reply>
   <reply>Пойдет!</reply>
</t>

<t reg="(аааа|говори)">
   <reply>Хочу секса</reply>
   <reply>Сильно хочу секса</reply>
   <reply>Умираю</reply>
   <reply>Ничего</reply>
</t>


</main>